<div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <input type="search" placeholder="Tìm kiếm Tên, Giá, Loại hoặc Nhà Sản Xuất" class="inputSearch">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 Column_Search"><i class="glyphicon glyphicon-search icon_search"></i></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h1 class="h1LoaiRuou">Kết quả tìm kiếm</h1></div>
                            </div>
                            <div class="row danhSachSanPham">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <div></div>
                                        </div>
                                        {{#each ttsp}}
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sanpham"><img src='/assets/img/{{linkAnhSP}}'>
                                            <form>
                                                <div class="thongTinSP"><span>{{maSP}} </span>
                                                    <div></div><span>{{tenSP}}</span>
                                                    <div></div><span>{{giaSP}} </span></div>
                                            </form>
                                            <button class="btn btn-warning mua hidden" type="button">Mua </button>
                                        </div>
                                        {{/each}}
                            
                                    </div>
                                    <div class="row dssanpham">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <div></div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sanpham"><img src="assets/img/chivas18_blue_signature-1,34.jpg">
                                            <form>
                                                <div class="thongTinSP"><span>M011 </span>
                                                    <div></div><span>Chivas 18</span>
                                                    <div></div><span>1340000đ </span></div>
                                            </form>
                                            <button class="btn btn-warning mua hidden" type="button">Mua </button>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sanpham"><img src="assets/img/johnnie-walker-gold-label-2018-3-ruoungoaigiasi.vn-1,03.jpg">
                                            <form>
                                                <div class="thongTinSP"><span>MaSP </span>
                                                    <div></div><span>Joinhnnie walker goid label</span>
                                                    <div></div><span>1030000đ </span></div>
                                            </form>
                                            <button class="btn btn-warning mua hidden" type="button">Mua </button>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sanpham"><img src="assets/img/Ruou-Ballantine-s-Finest-hop-qua-2018-0,3.jpg">
                                            <form>
                                                <div class="thongTinSP"><span>M015 </span>
                                                    <div></div><span>Ballantine finest</span>
                                                    <div></div><span>300000đ </span></div>
                                            </form>
                                            <button class="btn btn-warning mua hidden" type="button">Mua </button>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sanpham"><img src="assets/img/Ruou-Ballantine-s-Finest-hop-qua-750x7500,38.jpg">
                                            <form>
                                                <div class="thongTinSP"><span>M020 </span>
                                                    <div></div><span>Ballantine s finest gift box</span>
                                                    <div></div><span>380000đ </span></div>
                                            </form>
                                            <button class="btn btn-warning mua hidden" type="button">Mua </button>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sanpham"><img src="assets/img/Ruou-Remy-Martin-VSOP-Hop-Qua-2018-1,3.jpg">
                                            <form>
                                                <div class="thongTinSP"><span>M025 </span>
                                                    <div></div><span>Reny martin Vsop</span>
                                                    <div></div><span>1300000đ </span></div>
                                            </form>
                                            <button class="btn btn-warning mua hidden" type="button">Mua </button>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <div></div>
                                        </div>
                                    </div>
                                    <div class="row dssanpham">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <div></div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sanpham"><img src="assets/img/chivas18_blue_signature-1,34.jpg">
                                            <form>
                                                <div class="thongTinSP"><span>M011 </span>
                                                    <div></div><span>Chivas 18</span>
                                                    <div></div><span>1340000đ </span></div>
                                            </form>
                                            <button class="btn btn-warning mua hidden" type="button">Mua </button>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sanpham"><img src="assets/img/johnnie-walker-gold-label-2018-3-ruoungoaigiasi.vn-1,03.jpg">
                                            <form>
                                                <div class="thongTinSP"><span>MaSP </span>
                                                    <div></div><span>Joinhnnie walker goid label</span>
                                                    <div></div><span>1030000đ </span></div>
                                            </form>
                                            <button class="btn btn-warning mua hidden" type="button">Mua </button>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sanpham"><img src="assets/img/Ruou-Ballantine-s-Finest-hop-qua-2018-0,3.jpg">
                                            <form>
                                                <div class="thongTinSP"><span>M015 </span>
                                                    <div></div><span>Ballantine finest</span>
                                                    <div></div><span>300000đ </span></div>
                                            </form>
                                            <button class="btn btn-warning mua hidden" type="button">Mua </button>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sanpham"><img src="assets/img/Ruou-Ballantine-s-Finest-hop-qua-750x7500,38.jpg">
                                            <form>
                                                <div class="thongTinSP"><span>M020 </span>
                                                    <div></div><span>Ballantine s finest gift box</span>
                                                    <div></div><span>380000đ </span></div>
                                            </form>
                                            <button class="btn btn-warning mua hidden" type="button">Mua </button>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sanpham"><img src="assets/img/Ruou-Remy-Martin-VSOP-Hop-Qua-2018-1,3.jpg">
                                            <form>
                                                <div class="thongTinSP"><span>M025 </span>
                                                    <div></div><span>Reny martin Vsop</span>
                                                    <div></div><span>1300000đ </span></div>
                                            </form>
                                            <button class="btn btn-warning mua hidden" type="button">Mua </button>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <nav>
                                        <ul class="pagination">
                                            <li><a aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                            <li class="active"><a>1</a></li>
                                            <li><a>2</a></li>
                                            <li><a>3</a></li>
                                            <li><a>4</a></li>
                                            <li><a>5</a></li>
                                            <li><a>...</a></li>
                                            <li><a aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

