<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1512644_GK</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Pretty-Header.css">
    <link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="assets/css/In_out.css">
</head>

<body>
    <nav class="navbar navbar-default custom-header">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">WINE SUPERMARKET</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav links">
                    <li role="presentation"><a href="#">Home </a></li>
                    <li role="presentation"><a href="#">RƯỢU NGOẠI</a></li>
                    <li role="presentation"><a href="#"> CHIVAS</a></li>
                    <li role="presentation"><a href="#" class="custom-navbar"> JOHNNIE WALKER<span class="badge">new</span></a></li>
                    <li role="presentation"><a href="#">HENNESSY </a></li>
                    <li role="presentation"><a href="#">VANG &amp; CHAMPANE </a></li>
                    <li role="presentation"><a href="#">VODKA </a></li>
                    <li role="presentation"><a href="#">RƯỢU MẠNH</a></li>
                    <li role="presentation"><a href="giohang.html">GIỎ HÀNG</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right main-nav">
                    <li role="presentation"><a href="#" class="signin">Sign in</a></li>
                    <li role="presentation"><a href="#" class="signup"> Sign up</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right dowlogin hidden">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"> <span class="caret"></span><img src="assets/img/avatar.jpg" class="dropdown-image"></a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li role="presentation"><a href="profile.html">Profile </a></li>
                            <li role="presentation"><a href="index.html">Logout </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="user-modal">
        <div class="user-modal-container">
            <ul class="switcher">
                <li><a href="#0">Sign in</a></li>
                <li><a href="#0">New account</a></li>
            </ul>
            <div id="login">
                <form class="form">
                    <p class="fieldset">
                        <label class="image-replace email" for="signin-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
                        <span class="error-message">An account with this email address does not exist!</span>
                    </p>
                    <p class="fieldset">
                        <label class="image-replace password" for="signin-password">Password</label>
                        <input class="full-width has-padding has-border" id="signin-password" type="password"  placeholder="Password">
                        <a href="#0" class="hide-password">Show</a>
                        <span class="error-message">Wrong password! Try again.</span>
                    </p>

                    <p class="fieldset">
                        <input type="checkbox" id="remember-me" checked>
                        <label for="remember-me">Remember me</label>
                    </p>

                    <p class="fieldset">
                        <input class="full-width" type="submit" value="Login">
                    </p>
                </form>
                
                <p class="form-bottom-message"><a href="#0">Forgot your password?</a></p>
                <!-- <a href="#0" class="close-form">Close</a> -->
            </div>

            <div id="signup">
                <form class="form">
                    <p class="fieldset">
                        <label class="image-replace username" for="signup-username">Username</label>
                        <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
                        <span class="error-message">Your username can only contain numeric and alphabetic symbols!</span>
                    </p>

                    <p class="fieldset">
                        <label class="image-replace email" for="signup-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
                        <span class="error-message">Enter a valid email address!</span>
                    </p>
                    
                    <p class="fieldset">
                        <label class="image-replace password" for="signup-password">Password</label>
                        <input class="full-width has-padding has-border" id="signup-password" type="password"  placeholder="Password">
                        <a href="#0" class="hide-password">Show</a>
                        <span class="error-message">Your password has to be at least 6 characters long!</span>
                    </p>

                    <p class="fieldset">
                        <input type="checkbox" id="accept-terms">
                        <label for="accept-terms">I agree to the <a class="accept-terms" href="#0">Terms</a></label>
                    </p>
                <div class="g-recaptcha" data-sitekey="6LceGVYUAAAAALxgZ62emjvac0yJJ8rmWIB--vVg"></div>
                    <p class="fieldset">
                        <input class="full-width has-padding" type="submit" value="Create account">
                    </p>
                </form>

                <!-- <a href="#0" class="cd-close-form">Close</a> -->
            </div>

            <div id="reset-password">
                <p class="form-message">Lost your password? Please enter your email address.<br> You will receive a link to create a new password.</p>

                <form class="form">
                    <p class="fieldset">
                        <label class="image-replace email" for="reset-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
                        <span class="error-message">An account with this email does not exist!</span>
                    </p>

                    <p class="fieldset">
                        <input class="full-width has-padding" type="submit" value="Reset password">
                    </p>
                </form>

                <p class="form-bottom-message"><a href="#0">Back to log-in</a></p>
            </div>
            <a href="#0" class="close-form">Close</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs Column_SP">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h1LoaiRuou">LOẠI RƯỢU</h1></div>
                <div class="col-md-12">
                    <ul class="list-group">
                        <li class="list-group-item"><span>Rượu ngoại nhập</span></li>
                        <li class="list-group-item"><span>Rượu Chivas</span></li>
                        <li class="list-group-item"><span>Rượu Johnnie Walker</span></li>
                        <li class="list-group-item"><span>Rượu Hennessy</span></li>
                        <li class="list-group-item"><span>Rượu Vang &amp; Champane</span></li>
                        <li class="list-group-item"><span>Rượu Vodka</span></li>
                        <li class="list-group-item"><span>Rượu Remy Martin</span></li>
                        <li class="list-group-item"><span>Rượu Blended Scotch Whisky</span></li>
                        <li class="list-group-item"><span>Rượu Ballantine's</span></li>
                        <li class="list-group-item"><span>Rượu Macallan</span></li>
                        <li class="list-group-item"><span>Rượu Singleton</span></li>
                        <li class="list-group-item"><span>Rượu Glenfiddich</span></li>
                        <li class="list-group-item"><span>Rượu Glendronach</span></li>
                        <li class="list-group-item"><span>Các dòng rượu khác</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            {{{body}}}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
            <div class="row">
                <div class="col-md-12">
                    <h1>NHÀ SẢN XUẤT</h1></div>
                <div class="col-md-12">
                    <ul class="list-group">
                        <li class="list-group-item"><span>Robert Mondavi, Mỹ</span></li>
                        <li class="list-group-item"><span>Hardys, Úc</span></li>
                        <li class="list-group-item"><span>Château Gruaud-Larose, Pháp</span></li>
                        <li class="list-group-item"><span>Concha Y Toro, Chile</span></li>
                        <li class="list-group-item"><span>Yellow tail, Úc</span></li>
                        <li class="list-group-item"><span>Hennessy, Pháp</span></li>
                        <li class="list-group-item"><span>Almaviva, Chile</span></li>
                        <li class="list-group-item"><span>Château Lagrange, Pháp</span></li>
                        <li class="list-group-item"><span>Lucente, Ý</span></li>
                        <li class="list-group-item"><span>Urbina, Tây Ban Nha</span></li>
                        <li class="list-group-item"><span>Các nhà sản xuất khác</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-md-4 col-sm-6 footer-navigation">
                <h3><a href="#">TQT.<span>logo </span></a></h3>
                <p class="company-name">Company Name © 2018 </p>
            </div>
            <div class="col-md-4 col-sm-6 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p> 182, Le Dai Hanh</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> 123456789</p>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 footer-about">
                <h4>About the team</h4>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/myjs.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
</body>

</html>