<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <img src="/assets/img/dashboard.png">
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                        <h3 class="panel-title" id="headingDashboard">Dashboard </h3>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="QuanLySP">
                        <a href="/admin/quanlysanpham">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="/assets/img/QuanLySP.png">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" id="textQLySP">
                                    <span>Quản lý sản phẩm</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="QuanLySP">
                        <a href="/admin/quanlyloaisp">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="/assets/img/QuanLyLoaiSP.png">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" id="textQLyLoaiSP">
                                    <span>Quản lý loại sản phẩm</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="QuanLySP">
                        <a href="/admin/quanlynsx">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="/assets/img/QuanLyNhaSX.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="textQLyNhaSX">
                                <span>Quản lý nhà sản xuất</span>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="QuanLySP">
                        <a href="/admin/quanlydonhang">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="/assets/img/QuanLyDonHang.png">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" id="textQLyDH">
                                    <span>Quản lý đơn hàng</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="QuanLySP">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="/assets/img/ThongKe.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="textThongKe">
                                <span>Thống kê</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="QuanLySP">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="/assets/img/Thoat.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="textThoat">
                                <span>Thoát</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>